.DS_Store
public
resources
.idea
content/.obsidian
content/.trash
content/private/**
data/linkIndex.yaml
data/contentIndex.yaml
.hugo_build.lock
assets/indices/linkIndex.json
assets/indices/contentIndex.json
